.container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 75%;
  margin-top: 1em;
}
