.header {
  grid-area: header;
  margin: 0;
  text-align: center;
}

.stats {
  display: flex;
  justify-content: center;
  grid-area: stats;
}

.physical {
  grid-area: phys;
}

.record {
  grid-area: record;
  display: flex;
}

.container {
  display: flex;
  align-items: center;
}

.info_grid {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 3em 8em 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "header  header"
    "phys  stats"
    "record record ";
}
