.header {
  grid-area: header;
  margin: 0;
  text-align: center;
}

.striking {
  grid-area: striking;
  justify-self: end;
}

.ground {
  grid-area: ground;
  justify-self: end;
}

.physical {
  grid-area: physical;
  justify-self: start;
}

.record {
  grid-area: record;
  align-self: center;
}

.container {
  display: flex;
  align-items: center;
}

.stat_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_grid {
  display: grid;
  width: 100%;
  margin-right: 2em;
  grid-template-columns: 25% 75%;
  grid-template-rows: 3em 8em 8em 1fr;
  grid-gap: 1em 2em;
  grid-template-areas:
    "header  header"
    "physical    striking"
    ". ground"
    "record  record ";
  align-items: center;
}
