.content {
  display: flex;
  min-width: fit-content;
  gap: 2rem;
  padding: 2rem;
}

.hide_content {
  display: none;
}

.fighter_container {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fight_btn {
  min-width: 20em;
}
